/* زيادة ارتفاع التذييل */
.md-footer__inner {
  padding: 1.5rem 2rem;  /* تعديل القيمة الرأسية لزيادة الارتفاع */
  background-color: var(--md-footer-bg-color);
  color: var(--md-footer-fg-color--light);
}

/* التأكد من أن النص في التذييل يتمركز عموديًا */
.md-footer__inner > div {
  display: flex;
  align-items: center;
}


/* التذييل الثابت */
.md-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* لتجنب أن يختبئ محتوى الصفحة خلف التذييل */
.md-main, .md-container {
  margin-bottom: 5rem; /* استخدم ارتفاع التذييل مضافًا له بعض المساحة */
}
